<!DOCTYPE html>
<html>
    <head>
        <title>CloudMusic Notifier</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
        <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="static/css/animate.min.css"  media="screen,projection"/>
    </head>
    <body onload="loaded()">
        <script type="text/javascript" src="static/js/materialize.min.js"></script>
        <script>
            function loaded(){
                M.AutoInit();
                M.toast({html: "Loading ..."});
                var ws = new WebSocket("ws://127.0.0.1:9999/conn")
                ws.onopen = () => {
                    M.toast({html: "Socket Connected\nwaiting for update..."});
                };
                ws.onmessage = (ev) => {
                    var data = ev.data;
                    if (data == "PING"){
                        ws.send("PONG");
                        return;
                    }
                    var jsonObject = JSON.parse(data);
                    onUpdate(jsonObject);
                    ws.send("ACK");
                };
                ws.onerror = (ev) => {
                    M.toast({html: "Something went wrong ;("});
                };
                ws.onclose = (ev) => {
                    M.toast({html: "Server offline D:"});
                };
            }
            function onUpdate(jsonObject){
                M.Toast.dismissAll();
                M.toast({html: '<span style="width:5em;height:5em;z-index:5;"> '+
                                    '<img src="' + jsonObject.picUrl + '" style="width:5em;height:5em;"> '+
                                '</span> '+
                                '<div style="padding-left:1em;padding-right:1em;z-index:3;width:100%;max-width:100%;" class="valign-wrapper truncate"> '+
                                    '<font style="line-height: 1.5em;" class="animate__animated animate__fadeInRight animate__fast truncate"> '+
                                        '<font class="teal-text accent-4" id="artists" style="font-weight: 500;">' + jsonObject.artists + '</font><br/>' + 
                                        '<h5 style="margin: 0;" class="truncate"> '+
                                            jsonObject.name + 
                                        '</h5> '+
                                    '</font> '+
                                '<div>',
                        classes: 'blue-grey darken-4 z-depth-3 blue-text text-lighten-5', displayLength: 600000});
            }
        </script>
        <style>
            #toast-container {
                margin-right: 0; 
                width: 20%; 
                max-width: 20%;
            }

            #toast-container > div.toast {
                padding:0; 
                margin:0;
                font-weight: 300;
            }
        </style>
    </body>
</html>